@using Microsoft.AspNetCore.Authentication.AzureADB2C.UI
@using Microsoft.Extensions.Options
@inject IOptionsMonitor<AzureADB2COptions> AzureADB2COptions

@{
    var options = AzureADB2COptions.Get(AzureADB2CDefaults.AuthenticationScheme);
}

<ul class="navbar-nav">
    @if (this.User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span class="navbar-text text-dark">Hello @User.Identity.Name!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="AzureADB2C" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="sign-in-dropdown-toggle" role="button" data-toggle="dropdown">
                Sign In
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/AzureADB2C/Account/SignIn">With username and password</a>
                <a class="dropdown-item" href="/AzureADB2C/Account/SignIn/o365">With Office 365</a>
            </div>
        </li>
    }
</ul>
